/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: red;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
}
.wrapper {
  background-color: rgb(245, 245, 245);
}

.header {
  display: flex;
  background-color: white;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-left: 350px;
}
.image_main {
  margin-left: 1rem;
  margin-right: 0.8rem;
  margin-top: 1.3rem;
}
.img1 {
  width: 35px;
}
.tags {
  display: flex;
  margin-left: 4rem;
  margin-top: 1.5rem;
}
a {
  text-decoration: none;
  color: grey;
  padding: 9px;
  font-size: 16px;
  font-weight: 400;
}
.search {
  width: 300px;
  height: 30px;
  margin-top: 1.3rem;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}
.login {
  margin-top: 1.5rem;
  margin-left: 9rem;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid transparent;
  line-height: 16px;
  font-weight: 600;
  background-color: #f3f3f3;
  font-size: 11px;
}
.signup {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  background-color: #cc4d29;
  width: 80px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid transparent;
  line-height: 16px;
  font-weight: 600;
  color: aliceblue;
  font-size: 11px;
}

.comp {
  width: 700px;
  margin-left: 25rem;
  margin-top: 0.1rem;
  display: flex;
  background-color: white;
  height: 120px;
  border-radius: 2px;
}

.comp:hover {
  background-color: #e8e8e8;
}
.arrow:hover {
  background-color: #e8e8e8;
}
.pic {
  padding: 1rem;
}
.im {
  width: 100px;
}
h2 {
  padding: 1rem;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0.5rem;
  color: #6f6f6f;
}
h4 {
  font-size: 13px;
  color: #6f6f6f;
  margin-left: 13px;
}
body {
  background-color: #e0d6dd;
}

.main_top {
  padding-left: 25rem;
}

.topic {
  font-size: 12px;
  font-weight: 600;
  color: black;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 25rem;
}
.main_top {
  color: black;
  margin-left: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  padding-top: 200px;
}
.main_bottom {
  color: black;
  margin-left: 32.5rem;
  font-size: 12px;
}
.main_last {
  color: black;
  margin-left: 2rem;
  font-size: 16px;
  font-weight: 600;
}
.main-t {
  font-size: 12px;

  margin-top: 2rem;
  margin-left: 32rem;
}
.arrow {
  height: 74px;
  width: 64px;
  margin-top: 20px;
  border: 0.5px solid #d7d7d7;
  border-radius: 2px;

  /* border-color: darkslateblue; */
  /* background-color:rgb(155, 44, 44); */
  margin-left: 9rem;
}
.arrow-icon {
  margin-top: 20px;
}
.arpic {
  margin-left: 1.4rem;
}
.main_container {
  display: flex;
  justify-content: space-around;
}
.makers {
  width: 90%;
  /* height: 200%; */
  display: grid;
  grid-gap: 0.5rem;
  padding: 1rem;
  grid-template-columns: repeat(6, 1fr);
  border-radius: 5px;
  padding: 20px;
}
.makers_container {
  width: 150%;

  background-color: #fff;
}
.head {
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.cir {
  border-radius: 50%;
}
hr {
  width: 90%;
}
h2 {
  color: black;
  /* text-align: center; */
}
h3 {
  /* text-align: center; */
  color: black;
  font-weight: 600;
}
h5 {
  color: black;
  font-size: 15px;
}
.future {
  font-size: 13px;
  width: 300px;
  min-height: 30px;
  padding: 10px 15px 10px 10px;
  border: 10px;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 2px 6px 49px 0px rgba(247, 242, 247, 1);
  font-weight: 700;
}
.news {
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.final {
  width: 170%;
  height: 100%;
  box-shadow: 2px 6px 49px 0px rgba(247, 242, 247, 1);
  background-color: #fff;
}
.box-1 {
  width: 30%;
  margin-left: 25px;
}
.place {
  text-align: center;
}
.email {
  padding: 10px;
  padding-right: 160px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  margin-top: 5px;
}
.btn {
  margin-top: 10px;
  padding: 10px;
  padding-right: 260px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  width: inherit;
  background-color: #cc4d29;
}
.comp {
  position: relative;
  text-align: left;
}
.arrow {
  position: absolute;
  text-align: center;
  right: 2rem;
}
.join {
  width: 90%;
  font-size: 12px;
  text-align: center;
  color: #cc4d29;
}
.chat_con {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  width: 7%;
  height: 1 rem;
  padding: 0.2rem;
  margin: 0.5rem;
  padding-right: 8px;
}
.chat {
  width: 35%;
}
p {
  font-weight: 700;
  width: 170%;
  text-align: center;
  font: inherit;
}
.para {
  text-align: center;
  width: 95%;
}
